#flx div{
  background-color: darkred;
}

.hostu{
  background-image:url(".././assets/s.jpg");
  height: 950px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
